.side-bar
  .side-header
    .side-header__box
      %h3.side-header__user-name
        = current_user.name
      .side-header__icon
        = link_to do
          = icon('fas', 'pen-square', class: 'icon')
          %span<>
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'icon')


  .side-bar__group-list
    .title__box
      .title
        techcamp
    .message__box
      .message
        まだメッセージがありません
    .message__box
      .message
        まだメッセージがありません
    .message__box
      .message
        まだメッセージがありません

    